USE [master]
GO
/****** Object:  Database [DB_QLPHONGTRO]    Script Date: 10/26/2025 2:11:45 AM ******/
CREATE DATABASE [DB_QLPHONGTRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_QLPHONGTRO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_QLPHONGTRO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_QLPHONGTRO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DB_QLPHONGTRO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_QLPHONGTRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_QLPHONGTRO]
GO
/****** Object:  Table [dbo].[chutro]    Script Date: 10/26/2025 2:11:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chutro](
	[id_chutro] [varchar](10) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[sdt] [varchar](11) NULL,
	[email] [varchar](100) NULL,
	[diachi] [nvarchar](255) NULL,
	[taikhoan] [varchar](50) NULL,
	[matkhau] [varchar](20) NULL,
	[avatar_url] [varchar](255) NULL,
	[anh_cccd_truoc_url] [varchar](255) NULL,
	[anh_cccd_sau_url] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_chutro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dien]    Script Date: 10/26/2025 2:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dien](
	[id_dien] [varchar](10) NOT NULL,
	[ngay_tao] [date] NULL,
	[chi_so_dau] [decimal](10, 2) NULL,
	[chi_so_cuoi] [decimal](10, 2) NULL,
	[thanh_tien_dien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hoadon]    Script Date: 10/26/2025 2:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoadon](
	[id_hoadon] [varchar](10) NOT NULL,
	[ngay_tao] [date] NULL,
	[trang_thai] [nvarchar](50) NULL,
	[noi_dung] [nvarchar](255) NULL,
	[id_dien] [varchar](10) NULL,
	[id_lephi] [varchar](10) NULL,
	[id_nuoc] [varchar](10) NULL,
	[id_phong] [varchar](10) NULL,
	[thanh_tien] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hopdong]    Script Date: 10/26/2025 2:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hopdong](
	[id_hopdong] [varchar](10) NOT NULL,
	[id_phong] [varchar](10) NULL,
	[id_chutro] [varchar](10) NULL,
	[id_nguoi_thue] [varchar](10) NULL,
	[ngay_bat_dau] [date] NULL,
	[ngay_ket_thuc] [date] NULL,
	[tien_coc] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_hopdong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lephi]    Script Date: 10/26/2025 2:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lephi](
	[id_lephi] [varchar](10) NOT NULL,
	[ngay_tao] [date] NULL,
	[tien_phong] [decimal](18, 2) NULL,
	[tien_dv] [decimal](18, 2) NULL,
	[thanh_tien_lephi] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lephi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nguoi_thue]    Script Date: 10/26/2025 2:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_thue](
	[id_nguoi_thue] [varchar](10) NOT NULL,
	[id_phong] [varchar](10) NULL,
	[hoten] [nvarchar](50) NULL,
	[cccd] [varchar](12) NULL,
	[sdt] [varchar](11) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nguoi_thue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nuoc]    Script Date: 10/26/2025 2:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nuoc](
	[id_nuoc] [varchar](10) NOT NULL,
	[ngay_tao] [date] NOT NULL,
	[chi_so_dau] [decimal](10, 2) NULL,
	[chi_so_cuoi] [decimal](10, 2) NULL,
	[thanh_tien_nuoc] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nuoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phongtro]    Script Date: 10/26/2025 2:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phongtro](
	[id_phong] [varchar](10) NOT NULL,
	[id_chutro] [varchar](10) NULL,
	[tenphong] [nvarchar](20) NULL,
	[giaphong] [decimal](18, 2) NULL,
	[tinhtrang] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_phong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanh_toan]    Script Date: 10/26/2025 2:11:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanh_toan](
	[id_nguoi_thue] [varchar](10) NULL,
	[id_hoadon] [varchar](10) NULL,
	[ngay_thanh_toan] [date] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[chutro] ([id_chutro], [hoten], [sdt], [email], [diachi], [taikhoan], [matkhau], [avatar_url], [anh_cccd_truoc_url], [anh_cccd_sau_url]) VALUES (N'A000000002', N'Nguyễn Văn A', N'0912345678', N'a@gmail.com', N'123 Lê Lợi, Q1', N'nguyenvana', N'matkhau123', NULL, NULL, NULL)
INSERT [dbo].[chutro] ([id_chutro], [hoten], [sdt], [email], [diachi], [taikhoan], [matkhau], [avatar_url], [anh_cccd_truoc_url], [anh_cccd_sau_url]) VALUES (N'A000000003', N'Trần Thị B', N'0987654321', N'b@gmail.com', N'456 Trần Hưng Đạo, Q5', N'tranthib', N'matkhau456', NULL, NULL, NULL)
GO
INSERT [dbo].[dien] ([id_dien], [ngay_tao], [chi_so_dau], [chi_so_cuoi], [thanh_tien_dien]) VALUES (N'B000000001', CAST(N'2025-10-01' AS Date), CAST(100.50 AS Decimal(10, 2)), CAST(120.70 AS Decimal(10, 2)), CAST(40200.00 AS Decimal(18, 2)))
INSERT [dbo].[dien] ([id_dien], [ngay_tao], [chi_so_dau], [chi_so_cuoi], [thanh_tien_dien]) VALUES (N'B000000002', CAST(N'2025-10-01' AS Date), CAST(200.00 AS Decimal(10, 2)), CAST(220.00 AS Decimal(10, 2)), CAST(44000.00 AS Decimal(18, 2)))
INSERT [dbo].[dien] ([id_dien], [ngay_tao], [chi_so_dau], [chi_so_cuoi], [thanh_tien_dien]) VALUES (N'B000000003', CAST(N'2025-10-01' AS Date), CAST(130.00 AS Decimal(10, 2)), CAST(150.00 AS Decimal(10, 2)), CAST(42000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[hoadon] ([id_hoadon], [ngay_tao], [trang_thai], [noi_dung], [id_dien], [id_lephi], [id_nuoc], [id_phong], [thanh_tien]) VALUES (N'B000000001', CAST(N'2025-10-05' AS Date), N'Chưa thanh toán', N'Hóa đơn tháng 10', N'B000000001', N'B000000001', N'B000000001', N'R000000001', CAST(3055200.00 AS Decimal(18, 2)))
INSERT [dbo].[hoadon] ([id_hoadon], [ngay_tao], [trang_thai], [noi_dung], [id_dien], [id_lephi], [id_nuoc], [id_phong], [thanh_tien]) VALUES (N'B000000002', CAST(N'2025-10-05' AS Date), N'Đã thanh toán', N'Hóa đơn tháng 10', N'B000000002', N'B000000002', N'B000000002', N'R000000002', CAST(3412000.00 AS Decimal(18, 2)))
INSERT [dbo].[hoadon] ([id_hoadon], [ngay_tao], [trang_thai], [noi_dung], [id_dien], [id_lephi], [id_nuoc], [id_phong], [thanh_tien]) VALUES (N'B000000003', CAST(N'2025-10-05' AS Date), N'Chưa thanh toán', N'Hóa đơn tháng 10', N'B000000003', N'B000000003', N'B000000003', N'R000000003', CAST(2958000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[hopdong] ([id_hopdong], [id_phong], [id_chutro], [id_nguoi_thue], [ngay_bat_dau], [ngay_ket_thuc], [tien_coc]) VALUES (N'C000000001', N'R000000001', N'A000000002', N'G000000001', CAST(N'2025-01-01' AS Date), CAST(N'2025-12-31' AS Date), CAST(500000.00 AS Decimal(18, 2)))
INSERT [dbo].[hopdong] ([id_hopdong], [id_phong], [id_chutro], [id_nguoi_thue], [ngay_bat_dau], [ngay_ket_thuc], [tien_coc]) VALUES (N'C000000002', N'R000000001', N'A000000002', N'G000000002', CAST(N'2025-02-01' AS Date), CAST(N'2025-12-31' AS Date), CAST(600000.00 AS Decimal(18, 2)))
INSERT [dbo].[hopdong] ([id_hopdong], [id_phong], [id_chutro], [id_nguoi_thue], [ngay_bat_dau], [ngay_ket_thuc], [tien_coc]) VALUES (N'C000000003', N'R000000002', N'A000000002', N'G000000003', CAST(N'2025-03-01' AS Date), CAST(N'2025-12-31' AS Date), CAST(500000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[lephi] ([id_lephi], [ngay_tao], [tien_phong], [tien_dv], [thanh_tien_lephi]) VALUES (N'B000000001', CAST(N'2025-10-01' AS Date), CAST(2700000.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), CAST(3000000.00 AS Decimal(18, 2)))
INSERT [dbo].[lephi] ([id_lephi], [ngay_tao], [tien_phong], [tien_dv], [thanh_tien_lephi]) VALUES (N'B000000002', CAST(N'2025-10-01' AS Date), CAST(3000000.00 AS Decimal(18, 2)), CAST(350000.00 AS Decimal(18, 2)), CAST(3350000.00 AS Decimal(18, 2)))
INSERT [dbo].[lephi] ([id_lephi], [ngay_tao], [tien_phong], [tien_dv], [thanh_tien_lephi]) VALUES (N'B000000003', CAST(N'2025-10-01' AS Date), CAST(2600000.00 AS Decimal(18, 2)), CAST(300000.00 AS Decimal(18, 2)), CAST(2900000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[nguoi_thue] ([id_nguoi_thue], [id_phong], [hoten], [cccd], [sdt], [email]) VALUES (N'G000000001', N'R000000001', N'Lê Văn C', N'123456789012', N'0901122334', N'c@gmail.com')
INSERT [dbo].[nguoi_thue] ([id_nguoi_thue], [id_phong], [hoten], [cccd], [sdt], [email]) VALUES (N'G000000002', N'R000000001', N'Phạm Thị D', N'987654321098', N'0933445566', N'd@gmail.com')
INSERT [dbo].[nguoi_thue] ([id_nguoi_thue], [id_phong], [hoten], [cccd], [sdt], [email]) VALUES (N'G000000003', N'R000000002', N'Nguyễn Văn E', N'111111111111', N'0901111111', N'e@gmail.com')
GO
INSERT [dbo].[nuoc] ([id_nuoc], [ngay_tao], [chi_so_dau], [chi_so_cuoi], [thanh_tien_nuoc]) VALUES (N'B000000001', CAST(N'2025-10-01' AS Date), CAST(50.00 AS Decimal(10, 2)), CAST(60.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[nuoc] ([id_nuoc], [ngay_tao], [chi_so_dau], [chi_so_cuoi], [thanh_tien_nuoc]) VALUES (N'B000000002', CAST(N'2025-10-01' AS Date), CAST(70.00 AS Decimal(10, 2)), CAST(80.00 AS Decimal(10, 2)), CAST(18000.00 AS Decimal(18, 2)))
INSERT [dbo].[nuoc] ([id_nuoc], [ngay_tao], [chi_so_dau], [chi_so_cuoi], [thanh_tien_nuoc]) VALUES (N'B000000003', CAST(N'2025-10-01' AS Date), CAST(60.00 AS Decimal(10, 2)), CAST(70.00 AS Decimal(10, 2)), CAST(16000.00 AS Decimal(18, 2)))
GO
INSERT [dbo].[phongtro] ([id_phong], [id_chutro], [tenphong], [giaphong], [tinhtrang]) VALUES (N'R000000001', N'A000000002', N'Phòng A1', CAST(2500000.00 AS Decimal(18, 2)), N'Đã thuê(Đầy)')
INSERT [dbo].[phongtro] ([id_phong], [id_chutro], [tenphong], [giaphong], [tinhtrang]) VALUES (N'R000000002', N'A000000002', N'Phòng A2', CAST(2700000.00 AS Decimal(18, 2)), N'Đã thuê')
INSERT [dbo].[phongtro] ([id_phong], [id_chutro], [tenphong], [giaphong], [tinhtrang]) VALUES (N'R000000003', N'A000000002', N'Phòng A3', CAST(3000000.00 AS Decimal(18, 2)), N'Đã thuê')
GO
INSERT [dbo].[thanh_toan] ([id_nguoi_thue], [id_hoadon], [ngay_thanh_toan]) VALUES (N'G000000001', N'B000000002', CAST(N'2025-10-28' AS Date))
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD FOREIGN KEY([id_dien])
REFERENCES [dbo].[dien] ([id_dien])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD FOREIGN KEY([id_lephi])
REFERENCES [dbo].[lephi] ([id_lephi])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD FOREIGN KEY([id_nuoc])
REFERENCES [dbo].[nuoc] ([id_nuoc])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[hoadon]  WITH CHECK ADD FOREIGN KEY([id_phong])
REFERENCES [dbo].[phongtro] ([id_phong])
GO
ALTER TABLE [dbo].[hopdong]  WITH CHECK ADD FOREIGN KEY([id_chutro])
REFERENCES [dbo].[chutro] ([id_chutro])
GO
ALTER TABLE [dbo].[hopdong]  WITH CHECK ADD FOREIGN KEY([id_nguoi_thue])
REFERENCES [dbo].[nguoi_thue] ([id_nguoi_thue])
GO
ALTER TABLE [dbo].[hopdong]  WITH CHECK ADD FOREIGN KEY([id_phong])
REFERENCES [dbo].[phongtro] ([id_phong])
GO
ALTER TABLE [dbo].[nguoi_thue]  WITH CHECK ADD FOREIGN KEY([id_phong])
REFERENCES [dbo].[phongtro] ([id_phong])
GO
ALTER TABLE [dbo].[phongtro]  WITH CHECK ADD FOREIGN KEY([id_chutro])
REFERENCES [dbo].[chutro] ([id_chutro])
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD FOREIGN KEY([id_hoadon])
REFERENCES [dbo].[hoadon] ([id_hoadon])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD FOREIGN KEY([id_nguoi_thue])
REFERENCES [dbo].[nguoi_thue] ([id_nguoi_thue])
GO
USE [master]
GO
